.homeBody {
  background-color: var(--Off-Gold);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.homeHeroDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed transparent;
  border-image: repeating-linear-gradient(
      to right,
      var(--Primary-Gold) 0 10px,
      /* Dash length */ transparent 10px 25px /* Gap size */
    )
    1;
}

.homeHeroDiv:last-child {
  border-bottom: none;
}

.titleContainer {
  box-sizing: border-box;
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.borderSide {
  border-left: 1px dashed transparent;
  border-right: 1px dashed transparent;
  border-image: repeating-linear-gradient(
      to bottom,
      var(--Primary-Gold) 0 10px,
      /* Dash length */ transparent 10px 25px /* Gap size */
    )
    3;
}

.title {
  font-family: var(--font-primary);
  font-size: 3rem;
  font-weight: 500;
  color: var(--Primary-Black);
}

.title span {
  color: var(--Primary-Gold);
}

.homeHeroText {
  width: 100%;
}

.titleContainer p {
  font-family: var(--font-secondary);
  line-height: 1.5;
}

/* ........................................................ */

.aboutDiv {
  width: 100%;
  height: 100vh;
  background: var(--Off-Gold);
  font-family: var(--font-secondary);
  line-height: 1.5;
  font-weight: 800;
  border-top: 4px solid var(--Primary-Gold);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutTextContainer {
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 10%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  border-left: 1px dashed transparent;
  border-right: 1px dashed transparent;
  border-image: repeating-linear-gradient(
      to bottom,
      var(--Primary-Gold) 0 10px,
      transparent 10px 25px
    )
    3;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .titleContainer p {
    font-size: 0.8rem;
  }
}
